*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

#home{
    width: 80%;
    height: 100rem;
    border-radius: 2rem;
    margin: 1rem auto;
    background-color: #a3cca2;
    color: white;
    box-shadow: 2px black;
    position: relative;
}

nav{
    position: sticky;
    display: flex;
    left: 90%;
    top: 0;
    height: 5rem;
    width: 6rem;
}


nav .nav__listing{
    list-style-type: none;
    
}


nav .nav__listing a{
    color:black;
    text-decoration: none;
}